<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" style="height: 600px;">
        <a href="/">
            <div class="logo"></div>
        </a>
    
        <h3>Авторизация</h3>

        <label for="username">Логин</label>
        <input type="text" placeholder="Логин" id="username" name="username">
    
        <label for="password">Пароль</label>
        <input type="password" placeholder="Пароль" id="password" name="password">

        <button class="button-login" type="submit">Войти</button>
    </form>
</body>
</html>